*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(img-bg-on.jpg) rgba(18, 48, 9, 0.5);
    background-size: cover;
    background-repeat:repeat-y;
    color: #ffffff;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
    /*to center te clock on screen
    margin: auto;*/
}

.widget{
    width: 40%;
    margin: 2em;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.date{
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    /*Or
    margin-bottom: 5px;*/
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.clock{
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);    
}
.clock .seconds-box {
    display: inline-block;
}

.clock .seconds,
.clock .amPm {
    font-size: 2rem;
    display: block;
}